@model MongoTodo.Models.Todo
@{ Html.EnableClientValidation(); }
@using (Html.BeginForm("Add", "TodoManager", FormMethod.Post, new { id = "AddTodoForm" , @class = "cmxform AddTodoForm"}))
{
    @Html.AntiForgeryToken()
   
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titel, new { htmlAttributes = new { @class = "form-control" } })  
                @Html.ValidationMessageFor(model => model.Titel)             
            </div>
            <div class="col-md-10">
                <input type="submit" value="Start" class="btn btn-default"/>
            </div>
        </div>
    </div>
}